html,
body,
:root {
    height: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.chartjs-tooltip {
    position: absolute !important;
    font-size: 12px;
    color: black;
}

/*font & text*/
.fs-xm {
    font-size: 12px !important;
}

.narrow-line-height {
    line-height: 15px !important;
}

.hover-underline:hover {
    text-decoration: underline !important;
}

/*cursor shape*/

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

/*hover background colors*/

.hover-bg-primary:hover {
    background-color: #0275d8 !important;
}

.hover-bg-secondary:hover {
    background-color: #6c757d !important;
}

.hover-bg-success:hover {
    background-color: #5cb85c !important;
}

.hover-bg-warning:hover {
    background-color: #f0ad4e !important;
}

.hover-bg-danger:hover {
    background-color: #d9534f !important;
}

.hover-bg-info:hover {
    background-color: #5bc0de !important;
}

.hover-bg-light:hover {
    background-color: #f7f7f7 !important;
}

.hover-bg-dark:hover {
    background-color: #343a40 !important;
}
